@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.hero {
    &__container {
        background-image: URL(../../assets/logos/Electric-Cars-hero.jpg);
        background-size:contain;
        background-repeat: no-repeat;
        background-position:center;
        position:relative; 
        aspect-ratio: 16/9;
        // @include desktop {}
        
    }

    &__content {
        width:80%;
        &--info { 
            @include flexed(column,space-evenly, flex-start);
            gap:1.5rem;
            padding-left:1rem;
            @include tablet{
                padding-left:2rem;
                gap:6rem;
            }
            @include desktop{
                gap:10rem;
                padding-left:3rem;
                padding-top:1rem;
            }
        }
    }

    &__title {
        color:#ffd0d0;
        font-size:1.5rem;
        @include tablet {
            font-size:4rem;
            font-weight: 500;
        }
    }

    &__slogan {
        color:white;
        font-size:1.25rem;
        font-weight: 600;
        width:70%;
        @include tablet {
            font-size:1.75rem;
            width:50%;
            font-weight: 500;

        }
    }

    &__button { 
        border-radius:1rem;
        text-decoration: none;
        color:red;
        background-color: white;
        padding:0.25rem;
        text-transform: uppercase;
        cursor:pointer;
        font-size:1rem;
        font-weight:600;
        box-shadow:0px 2px 4px white;
        &:hover {
            box-shadow:0px 4px 8px white;
            color:#5fc52c;
            font-size:1rem;
            font-weight:600;
        }
        &:active {
            background-color:black;
            color:#5fc52c;
            box-shadow: 0 5px white; 
            font-size:1rem;
            transform:translateY(2rem);
            transform:translateX(2rem);
            font-weight:600;
        }
        @include tablet {
            padding:0.75rem 2rem;
            font-size:1.25rem;
            font-weight: 600;


        }

        @include desktop {
            font-size:3rem;
            font-weight: 600;
            padding:1rem 2rem;
        }
    }
}