@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;


.vehicle {
    font-size:1.75rem;
    font-weight: 600;
    //align-self:center;
    border-top:#5fc52c 1px solid;
    border-bottom:#5fc52c solid 1px;
    width:100%;
    @include flexed(column,center,center);
    @include tablet {
        font-size:2rem;
        padding-top:1rem;
    }
    &__info {
        width:100%;
        @include flexed(column,center,flex-start);
        gap:1rem; 
    }
}

.vehicleIntro {
    //font-size:2rem;
    @include flexed(column, center, center);
    border:black 1px solid;
    background-color: #5fc52c;
    color:white;
    box-shadow:0px 2px 4px black;
    &__feature {
        font-size:1.25rem;
        @include tablet {
            font-size:1.5rem;
        }
        //border: 2px solid black;
    }

    &__make {
        color: white;
        font-weight: 600;
        font-size:1.5rem;
        //margin-bottom:1rem;
        color:red;
        border-bottom:1px red solid;
        @include tablet {
            font-size:1.5rem;
        }
    }
    &__model {
        @include tablet {
            font-size:1.5rem;
        }
    }
    &__trim {
        @include tablet {
            font-size:1.5rem;
        }
    }

    &__price {
        color:red;
        font-weight:bold;
    }
}