
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.vehicleDealer {
    width:100%;
    @include flexed(column,center, center);
    gap:1rem;
    background-color: #5fc52c;
    padding-bottom:1rem;
    &__img {
        width:100%;
        //border:1px solid black;
        
        @include tablet {
            width:60%;
        }
    }

    &__imageDP {
        width:100%;
    }

    &__textArea {
        width: 100%;
        
        
        
        @include tablet {
            width:40%;
        }

        @include desktop {
            width:100%;
            font-size:2rem;
        }
    }

    &__list {
        @include flexed(column,center, center);
        color: white;
        
    }
}

.vehicleDealerInfo {
    width:100%;
    @include flexed(column,center, center);
    
    @include tablet {
        width:100%;
    }
}