@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

#add-vehicle {
  @include tablet {
    width: 138px;
  }
}

.details {
  &__container {
    padding: 1rem 1.5rem;
    margin: 0;
    @include desktop {
      font-size: 1.5rem;
    }
  }
  &__subheader {
    padding-bottom: 0.5;
  }
  &__input {
    margin-bottom: 0;
    outline: none;
    &--error {
      border: 1px solid purple;
      &:focus {
        border: 2px solid purple;
      }
    }
  }
  &__label {
    padding-top: 1rem;
  }
  &__err {
    display: none;
    font-size: 0.75rem;
    color: red;
    &--img {
      height: 13px;
    }
    &__input {
      margin-bottom: 0;
      outline: none;
      &--error {
        border: 1px solid purple;
        &:focus {
          border: 2px solid purple;
        }
      }
    }
    &__label {
      padding-top: 1rem;
    }
    &__err {
      display: none;
      font-size: 0.75rem;
      color: red;
      &--img {
        height: 13px;
      }
    }
  }
}

.buttons {
  @include tablet {
    width:100%;
    @include flexed(row, space-around,center);

  }
}

.save-btn {
  border-style: none;
  background-color: grey;
  color: lime;
  width: 60%;
  height: 2.25rem;
  border-radius: 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  @include tablet {
    width:100%;
    font-size:1rem;
    padding:1.5rem 1rem;
  }
  @include desktop{
    font-size:1.25rem;
    
  }
  &:hover {
    background-color: blue;
  }
}

.cancel-btn {
  border-style: none;
  background-color: grey;
  color: lime;
  width: 60%;
  height: 2.25rem;
  border-radius: 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  @include tablet {
    width:15%;
    font-size:1rem;
    padding:1.5rem 1rem;
  }
  @include desktop{
    font-size:1.5rem;
  }
  &:hover {
    background-color: blue;
  }
}

.dealership {
  &__select {
    font-size:1rem;
    border:1px solid red;
    @include desktop {
      font-size:1.5rem;
    }
  }
}