@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;


.pageContent {

    // &__intro {

    // }

    // &__title {

    // }

    &__text {

        &--link {
            color:red;
            font-weight: 600;
            margin-left:5px;
        }
    }

    
}