@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles//partials/variables" as *;



.footer {
    width: 100%;
  
    &__wrapper {
      width: 100%;
      padding-top:0.5rem;
    //   padding: 1rem;
      @include flexed(column,flex-end,center);
      
      border-top:grey 1px solid; 
      border-bottom:grey 1px solid; 
      display: flex;
      background-color:rgba(161, 161, 161, 0.326);
      @include tablet {
        padding: 2rem 2rem;
        @include flexed(row-reverse,space-between,center);
        text-align: center;
      }
  
      @include desktop {
        margin: 0 auto;
        // max-width: $desktop-breakpoint;
        //max-width:1280px;
      }
    }
  
    &__main {
        @include flexed(column,flex-start, center);
  
      @include tablet {
        flex-direction: row;
      }
    }
  
    &__social {
        @include flexed(column,flex-start,center);
        @include desktop { 
          width:10rem;
        }

    }
  
    &__title {
        color: #5fc52c;
        font-size:1.5rem;
      
        padding-bottom: 0.5rem;
        margin: 0;
      
        @include tablet {
            font-size:2rem;
        }
    }
  
    &__social-wrapper {
        @include flexed(row,space-between,center);
        gap:1rem;
    }
  
    &__image {
      padding: 0.5rem;
      width: auto;
      height: 3rem;
      box-shadow:0px 2px 4px #5fc52c;
      border-radius:0.5rem;
      cursor: pointer;

    }
  
    &__content {
      font-size:1rem;
      margin: 0;
      padding-top: 0.5rem;
      color: #5fc52c;
      
  
      @include tablet {
        font-size:2rem;
      }
    }
  }
  