@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

// .vehicles-wrapper {

// }

.vehicles-list {
    @include flexed(column,center,center);
    gap:1rem;
    @include tablet {
        @include flexed(row, space-evenly, center);
        flex-wrap:wrap;
        gap:1.5rem;
    }
    @include desktop {
        @include flexed(row, center, center);
        gap:1.5rem;
    }
}