@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.details {
  &__form {
    @include flexed(column, center, flex-start);
    gap: 0.5rem;
    flex-wrap: nowrap;
    width: 100%;
  }

  &__container {
    padding: 1rem 1.5rem;
    margin: 0;
    @include flexed(column, center, center);
    gap: 1rem;
    @include tablet {
      font-size: 1.5rem;
      width: 100%;
      @include flexed(column, center, center);
    }
    @include desktop {
      font-size: 2rem;
    }
  }

  &__subheader {
    padding-bottom: 0.5rem;
    font-size:2rem;
    font-weight:600;
    color: #5fc52c;
  }

  &__input {
    margin-bottom: 0;
    outline: none;
    height:2rem;
    width:100%;
    &:focus{
        background-color:#5fc52c;
        color:black;
        border:#5fc52c 1px solid;
        
    }
    @include tablet {
      @include flexed(column, center, center);
      width: 100%;
      font-size: 1rem;
    }
    @include desktop {
      font-size: 1.5rem;
    }

    &--message {
      word-break: break-all;
      //resize:none;
      height:auto;
      width:100%;

    }
    &--error {
      border: 1px solid purple;
      &:focus {
        border: 2px solid purple;
      }
    }
  }

  &__label {
    padding-top: 1rem;
    color:#5fc52c;
    font-size:1rem;
    font-weight:600;
    @include tablet {
      padding-top: 0rem;
    }
  }

  &__err {
    display: none;
    font-size: 0.75rem;
    color: red;
    &--img {
      height: 13px;
    }
  }
}

.buttons {
    @include flexed(row,center,center);
}

.send-btn {
    background-color:#5fc52c;
    font-size:1.5rem;
    font-weight:500;
    color:white;
    border:#5fc52c;
    border-radius:1rem;
    padding:0.5rem;
    cursor:pointer;
    box-shadow:0 9px black;
    &:hover {
        background-color:darkgrey;
        color:#5fc52c;
        font-size:2rem;
        font-weight:600;
    }
    &:active {
        background-color:darkgrey;
        color:#5fc52c;
        box-shadow: 0 5px white; 
        font-size:2rem;
        transform:translateY(4px);
        transform:translateX(3px);
        font-weight:600;
    }

}

.page {
    border:solid 1px #5fc52c;
    border-radius:5px;
    padding-bottom:2rem;
}